<div class="header">
    <h4><%= query.title %></h4>
    <%  if defined? result %><h1><%= result.title %></h1><% end %>
</div>

<% unless query.params.empty? %>
<form class="params">
    <b>Query Parameters: </b>
    <% query.params.each do |k, v| %>
    <span class="params-param">
        <span><%= v[:label] %></span>
        <%
        case v[:type]
        when :select
            %>
        <select name="<%= k %>">
            <% v[:options].each do |opt, v| %>
            <option value="<%= opt %>" <% if params[k] == opt %>selected<%end%>><%= v %></option>
            <% end %>
        </select>
            <%
        else
            %>
        <input type="<%= v[:type] %>" name="<%= k %>" value="<%= query_params[k] if defined? query_params %>">
            <%
        end
        %>
    </span>
    <% end %>
    <input type="submit" value="Submit">    
</form>
<% end %>

<% if defined? query_error %>

<hr>
<em><h3>Query Error</h3></em>
<p><%= query_error.message %></p>

<% else %>

<table class="display compact data-table" id="table">
    <thead>
        <tr>
            <% result.cols.each do |col| %>
            <th><%= col %></td>
            <% end %>
        </th>
    </thead>
    <tbody>
    <% result.rows.each do |row| %>
    <tr>
        <% result.cols.each do |col| %>
            <td>
            <% if row[:links][col] %><a href="<%= row[:links][col] %>"><% end %>
            <%= row[:vals][col] %>
            <% if row[:links][col] %></a><% end %>
            </td>
        <% end %>
    </tr>
    <% end %>
    </tbody>
</table>
<form style="display: inline-block;">
    <% params.each do |k, v| %>
    <input type="hidden" name="<%= k %>" value="<%= v %>">
    <% end %>
    <input type="hidden" name="csv" value="yes">
    <input type="submit" value="Download CSV">
</form>
<em>To connect to this query from Excel, paste the page URL into 'Import for Web' on the Data tab</em>
<script>
$(document).ready(function() {
    $('#table').DataTable({
        pageLength: 50,
        order: [],
        lengthMenu: [50, 100, 200, 500]
    });
});
</script>

<% end %>